<form (ngSubmit)="onSubmit()">
    <label for="firstName">First Name:</label>
    <input id="firstName" [(ngModel)]="Patent.nom" name="firstName" required>

    <label for="lastName">Last Name:</label>
    <input id="lastName" [(ngModel)]="Patent.prenom" name="lastName" required>

    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="Patent.email" name="email" required>

    <label for="telephone">Telephone:</label>
    <input id="tel" [(ngModel)]="Patent.tel" name="tel" required>

    <label for="Genre">Genre:</label>
    <input id="Genre" [(ngModel)]="Patent.genre" name="genre" required>

    <label for="Date naissance">date de naissance:</label>
    <input id="Dn" [(ngModel)]="Patent.datenaissance" name="datenaissance" type="datetime" required>
    <button type="submit">Create</button>
</form>